* {
box-sizing: border-box;
}

body {
height: 100%;
}

.search-container {
  position: relative;
  background-image: linear-gradient(to right, orange, #FF5733);
  height: 2000px;
  width: 100%;
}


input {
  position: absolute;
  border-width: 2px;
  border-bottom: #FFD580;
  border-color: grey;
  border-style: double;
  top: 200px;
  padding: 20px;
  margin: 0;
  left: 200px;
  height: 40px;
  width: 400px; 
  background-color: #FFD580;
}
/* //dropdown */
.suggestions {
  position: absolute;
  width: 300px;
  left: 200px;
  top: 240px;
}

ul {
  position: absolute;
  display: block;
  top: 3px;
  padding-left: 10px;
  width:fit-content;
  margin: 0;
  list-style-type: none;
  background-color: #FFD580;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li {
  display: list-item; 
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 30px;
  text-align: start;
}

ul li:hover {
  background-color: #be421c;
  padding-left: 0px;
  left: 0px;
}
